<section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"><h1><span>G</span>uill<span>e </span>&amp; <span>F</span>riend<span>s</span></h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          
            <ul> <!--no estoy seguro de class active-->
              <li><a href="#hero" data-after="Menu" routerLink="/hero" routerLinkActive="Active">Menu</a></li>
              <li><a href="#services" data-after="Servicios" routerLink="/service" routerLink="/service" routerLinkActive="Active" routerLinkActive="Active">Servicios</a></li>
              <li><a href="#projects" data-after="Proyectos" routerLink="/projects" routerLinkActive="Active">Proyectos</a></li>
              <li><a href="#about" data-after="Nosotros" routerLink="/about" routerLinkActive="Active">Nosotros</a></li>
              <li><a href="#login" data-after="Login" routerLink="/login" routerLinkActive="Active">Login</a></li>
              <li><a href="#contact" data-after="Contactos" routerLink="/contact" routerLinkActive="Active">Contactos</a></li>
              <li><a href="#footer" data-after="Footer" routerLink="/footer" routerLinkActive="Active">Guille</a></li>
            </ul>
        </div>
      </div>
    </div>
  </section>
  <!--End of header-->
  
