
<!--Seccion footer-->
<section id="footer">
    <div class="container1">
      <div class="brand2"><h1><span>G</span>uill<span>e </span>&amp; <span>F</span>riend<span>s</span></h1></div>
      <br>
      <br>
      <h2>La Mejor Solución Para Tu Web</h2>
      
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><i class="fab fa-facebook-square fa-3x" alt="facebook"></i></a>
        </div>
        <div class="social-item">
          <a href="#"><i class="fab fa-instagram fa-3x" alt="instagram"></i></a>
        </div>
        <div class="social-item">
          <a href="#"><i class="fab fa-twitter-square fa-3x" alt="twitter"></i></a>
        </div>
      </div>
      <p>Copyright &copy; 2021 Guille &amp; Friends.</p>
    </div>
  </section>
  <!--End of footer section-->
  
