
<!-- 1.24.53 - About Section-->
<section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img class="equipo" src="https://images.pexels.com/photos/3184325/pexels-photo-3184325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Equipo">
        </div>
      </div>
      
      <div class="col-right">
        <h1 class="section-title">Quienes  <span>Somos</span></h1>
        <h2>Front End &amp; Back End Developers</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad</p>
        <a href="#" class="cta">Nuestros CV´s</a>		  
      </div>
     </div>
  </section>
      
  <!--End of about section-->
  
