
<!-- 36.21 Service section-->
<section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Serv<span>i</span>cios</h1>
          <p>Nuestra firma provee el conjunto de servicios que van a satisfacer sus necesidades en la web. Y nuestros especialistas con amplia experiencia van a ejecutar sus proyectos en forma no solo eficiente, sino innovadora. Mas adelante, nuestros proyectos le van a mostrar la calidad de nuestra gente y nuestros servicios.</p>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><i class="fas fa-server fa-7x"></i> <!----> </div>
            <h2>Diseño UI/UX</h2>
            <p>Proveemos servicios a alta calidad en el diseño de web sites. Para ustedes es muy importante que los diseños sean únicos y atractivos. Esta sigue siendo la mejor estrategia para asegurarnos que su audiencia se "prenda" de su site.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/wired/64/000000/settings.png"/></div>
            <h2>Diseño Web</h2>
            <p>Nuestro objetivo al ejecutar un proyecto es el crear valor para el negocio de nuestros clientes. Usted va a encontrar en nosotros realizadas sus expectativas si nos confía el diseño y ejecución de su proyecto.</p>
        </div>
        <div class="service-item">
          <div class="icon"><i class="fas fa-bug fa-8x"></i></div>
            <h2>Desarrollo Web</h2>
            <p>Para realizar nuestros proyectos utilizamos la tecnología más actualizada. Nuestros especialistas en diseño front-end y back-end harán sus especificaciones realidad. </p>
        </div>
        <div class="service-item">
          <div class="icon"><i class="fas fa-laptop-code fa-8x"></i></div>
            <h2>Web Site Analytics</h2>
            <p>Nuestros servicios de data análisis se focalizan en identificar acciones que mejoren en forma contínua el uso de los recursos que aplica a la web. Le ayudaremos a medir los resultados versus sus objectivos y a mejorar su experiencia.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End service section-->
  
