
<!-- 1.38.31 - Contact section -->
<section id="contact">
    <div class="contact container">
      <div><h1 class="section-title">Info Para <span>Contacto</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><i class="fas fa-phone fa-4x" alt="phone"></i></div>
          <div class="contact-info">
            <h1>Teléfonos</h1>
            <h2>+1 234 123 1234</h2>
            <h2>+1 234 123 1234</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><i class="fas fa-envelope-square fa-4x" alt="phone"></i></div>
           <div class="contact-info">
             <h1>Emails</h1>
             <h2>info@gmail.com</h2>
             <h2>abc@gmail.com</h2>
           </div>
         </div>
         <div class="contact-item">
           <div class="icon"><i class="fas fa-address-card fa-4x" alt="phone"></i></div>
           <div class="contact-info">
             <h1>Dirección</h1>
             <h2>Broadway 000, EEUU</h2>
           </div>
         </div>
       </div>
     </div>
  </section>
  <!--End contact section-->
  
